/* Add your styles here. */ 
/* Type selector */
p {
    color:blue;
}
h1 {
    color:red;
}

/* Class selector */
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.box {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.SR {
    border: 2px solid lightgray;
    padding: 5px;
    margin: 5px;
    
}
/* Id selector */
#top {
    color: green;
}
#fun-fact {
    font-style: italic;
    
}

@media (max-width: 600px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 20px;
    }
}
a {
    color: green;
}
p:hover {
    background-color: yellow;
}


.my-table {
  width: 100%;                  
  border-collapse: collapse;    
  font-family: sans-serif;
}


.my-table td {
  border: 1px solid #ccc;       
  padding: 12px;                
  text-align: center;           
}